{% extends './layout.html' %}
{% block title %}Organization Login{% endblock %}
{% block head %}
{% endblock %}
{% block body %}
        <div class="row header-title">
            <h2>DevsOnDeck</h2>
            <ul class="topnav">
                <li><a href="{% url 'devs:register'%}" class="btn-link" title="Dev Registration">Dev Registration</a></li>
                <li><a href="{% url 'orgs:register' %}" class='btn-link' title="Org Registration">Org Registration</a></li>
            </ul>
        </div>
        <div class="row body">
            <!-- Login page HTML forms go here -->
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <h1>Welcome Back!</h1>
            <h3>Let's Find You Some Candidates</h3>
            <form action="{% url 'orgs:loginprocess' %}" method="POST">
            {% csrf_token %}
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input class="form-control" type="text" name="email" id="email">
                    <label for="password">Password:</label>
                    <input class="form-control" type="password" name="password" id="password">
                    <button class="btn btn-primary btn-sm" type="submit" name="submit" value="Login">Login</button>
                </div>
            </form>
        </div>
{% endblock %}