{% extends './layout.html' %}
{% block title %}Organization Login{% endblock %}
{% block head %}
{% endblock %}
{% block body %}
<!-- Login page HTML forms go here -->
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <h1>Welcome Back!</h1>
        <h3>Lets Find You Some Candidates</h3>
        <a href="{% url 'devs:register'%}">Dev Registration</a>&nbsp&nbsp&nbsp&nbsp
        <a href="{% url 'orgs:register'%}">Org Registration</a>
        <div class="row">
            <form action="{% url 'orgs:loginprocess' %}" method="POST">
            {% csrf_token %}
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input class="form-control" type="text" name="email" id="email">
                    <label for="password">Password:</label>
                    <input class="form-control" type="password" name="password" id="password">
                    <button class="btn btn-primary btn-sm" type="submit" name="submit" value="Login">Login</button>
                </div>
            </form>
        </div>
{% endblock %}