{% extends './layout.html' %}
{% block title %}Developer Registration{% endblock %}
{% block head %}
{% endblock %}
{% block body %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<a href="{% url 'devs:languages' %}" class="button">Back</a>
<h2>Add Your Skills</h2>
<h4>Pick Your Top 5 Frameworks or Libraries</h4>
<progress max="100" value="{{progress}}"></progress>
<form action="{% url 'devs:frameworksprocess' %}" method='POST'>
    {% csrf_token %}
    <a href=''></a>
    <h5><label for="short_bio">Short Bio:</label></h5>
    <p><textarea rows="10" cols="30" name="short_bio" id="short_bio"></textarea></p>
    <p>{{short_bio}}</p>
    <p>{{bio_message}}</p>
    <input type="button" name='submit' value="COMPLETE PROFILE">
</form>



{% endblock %}
{% block footer %}
{% endblock %}