{% extends './layout.html' %}
{% block title %}Developer Login{% endblock %}
{% block head %}
{% endblock %}
{% block body %}
        <div class="row header-title">
            <h2>DevsOnDeck</h2>
            <ul class="topnav">
                <li><a href="{% url 'devs:register'%}" title="Dev Registration">Dev Registration</a></li>
                <li><a href="{% url 'orgs:register'%}"title="Org Registration">Org Registration</a></li>
            </ul>
        </div>
        <div class="row body">
            <h1>Welcome Back, Developer!</h1>
            <h3>Lets Connect You To A Job</h3>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <!-- Login page HTML forms go here -->
            <form class="customform" action="{% url 'devs:loginprocess' %}" method="POST">
            {% csrf_token %}
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input class="form-control" type="text" name="email" id="email">
                    <label for="password">Password:</label>
                    <input class="form-control" type="password" name="password" id="password">
                    <button class="btn btn-primary btn-sm" type="submit" name="submit" value="Login">Login</button>
                </div>
            </form>
        </div>
{% endblock %}