{% extends './layout.html' %}
{% block title %}Developer Registration{% endblock %}
{% block head %}
{% endblock %}
{% block body %}
<!-- Registration page HTML forms go here -->
        <div class="row">
            <form action="{% url 'devs:create' %}" method="POST">
                <div class="form-group">
                    <label for="first_name">First name:</label>
                    <input class="form-control" type="text" name="first_name" id="first_name">
                    <label for="last_name">Last name:</label>
                    <input class="form-control" type="text" name="last_name" id="last_name">
                    <label for="email"Email:</label>
                    <input class="form-control" type="text" name="email" id="email">
                    <label for="address1">Address:</label>
                    <input class="form-control" type="text" name="address1" id="address1">
                    <label for="city">City:</label>
                    <input class="form-control" type="text" name="city" id="city">
                    <label for="state">State:</label>
                    <input class="form-control" type="text" name="state" id="state">
                    <label for="password">Password:</label>
                    <input class="form-control" type="password" name="password" id="password">
                    <label for="confirm_password">Confirm Password:</label>
                    <input class="form-control" type="confirm_password" name="confirm_password" id="confirm_password">
                    <button class="btn btn-primary btn-sm" type="submit" name="submit" value="Register">Register</button>
                </div>
            </form>
        </div>
{% endblock %}
{% block footer %}
{% endblock %}