{% extends "./layout.html" %}
{% block body %}
        <div class="row">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <a href="{% url 'devs:index' %}" class="btn btn-link">Back</a>
            <h1>Add State</h1>
            <form action="{% url 'state:create'%}" method="post">
            {% csrf_token %}
                <div class="form-group">
                    <input class="form-control" type="text" name="state">
                    <button class="btn btn-primary btn-sm" type="submit" name="submit" value="Submit">Login</button>
                </div>
            </form>
        </div>
{% endblock %}

